Repository BetaHuhn/gh-repo-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: config, tooling, assets, tests, package, source

🐛 fix semantic release config
  README.md
  package-lock.json
  package.json
  release.config.js
Labels: config

:bookmark: Release v1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  efad4801afff8f0ec5f66371e8c24b62c7f4dfa2
Labels: config

:memo: Explain emojis
  README.md
Labels: config

📝 Change title
  README.md
Labels: config

⬇️ Change typescript version to test dependabot workflow
  package.json
Labels: config

👷 Add manual trigger for CodeQL workflow
  .github/workflows/codeql.yml
Labels: none

🐛 Fix console output
  src/index.ts
Labels: source

🚨 Remove semicolons
  src/index.ts
Labels: source

:bookmark: Release v1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  46de0879b54e6544a78ec699e06c2cff7d1ea92f
Labels: config

♻️ Use own config and BetaHuhnBot's PAT
  .github/workflows/automerge.yml
  .github/workflows/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/node.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-scheduler.yml
  .github/workflows/stale.yml
  package-lock.json
  package.json
  release.config.js
Labels: config

:bookmark: Release v1.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  89ced21f39efbcb07778927ef90cc36405d03efa
Labels: config

🚨 Use new eslint config
  .eslintrc.js
  release.config.js
Labels: config

Use different dependabot auto merge workflow
  .github/workflows/dependabot.yml
Labels: none

:bookmark: Release v2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  2e4c386cd8e56f8488756631d0877f132e4959cf
Labels: config

✏️ Fix typo
  src/index.ts
Labels: source

:bookmark: Release v3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: config

Notes added by 'git notes add'
  15da62a233ea14260c31efed712bdf90cac3d431
Labels: config

⬇️ Downgrade typescript
  package-lock.json
Labels: config

⏪ Revert typescript version change
  package-lock.json
Labels: config

🔧 Limit dependabot prs
  .github/dependabot.yml
Labels: none

⏪ Revert typescript version again
  package-lock.json
Labels: config

👷 Use different dependabot auto merge workflow
  .github/workflows/dependabot.yml
Labels: none

👷 Fix dependabot automerge workflow
  .github/workflows/dependabot.yml
Labels: none

👷 fix labeler
  .github/workflows/labeler.yml
Labels: none

⬇️ downgrade typescript
  package-lock.json
  package.json
Labels: config

👷 Run dependabot auto merge after other checks
  .github/workflows/dependabot.yml
Labels: none

⬇️ downgrade typescript
  package-lock.json
  package.json
Labels: config

👷 Fix automerge dependabot
  .github/workflows/dependabot.yml
Labels: none

.github/labeler.yml:

config:
  - ./*
tooling:
  - tooling/**/*.*
assets:
  - static/**/*.*
tests:
  - any: ["test/**/*"]
package:
  - any: ["package.json", "package-lock.json"]
source:
  - src/**/*
